
.NewGameMainBody {
	width: 100%;
	height: 100%;
	position: relative;
}

.players {
	width: 100%;
	height: 70%;
	position: relative;
	align-self: center;
	justify-content: space-between;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 20px;
}

.bottomButtons {
	width: 100%;
	height: 20%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formDiv {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
}

.player {
	height: 100%;
	width: 16%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.playerImg {
	height: 30%;
}

.playerName {
	font-size: 30px;
	text-align: center;
}

.popUpOverlay {
	position: fixed;
  	top: 0;
	border-radius: 5px;

	margin: 40vh auto;
  	padding: 40px;
  	width: 30%;
  	position: relative;
/*   	transition: all 5s ease-in-out; */
}
.userToAdd {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.addPlayerPopUp {
	background-color: #76d09e;
	border-radius: 5px;

	margin: 40vh auto;
  	padding: 20px;
  	width: 30%;
  	position: relative;
/*   	transition: all 5s ease-in-out; */

  	max-height: 700px;

  	display: flex;
	flex-direction: column;
	overflow: auto;
}

.gamePopUp {
	visibility: hidden;
	background-color: #7cb897bd;
	border-radius: 20px;
  	padding: 20px;
  	height: 75%;
  	width: 50%;
  	align-items: center;
	color: #47525e;
  	margin: auto;
	overflow: auto;
	display: table;
	position:absolute;
	top:17.5%;
	left:25%
}

.propertyTxt{
	padding:10px;
	display: inherit;
	margin: inherit;
}
.propertyImg{
	padding:10px;
	display: inherit;
	margin: inherit;
	scale: 90%;
}

.buyYesButton {
    height: 50px;
    width: 170px;
    background-color: #47525e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
	display: table-cell;
}

.buyNoButton {
    height: 50px;
    width: 170px;
    background-color: #47525e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
	display: table-cell;
}

