
.NewGameMainBody {
	width: 100%;
	height: 100%;
	position: relative;
}

.players {
	width: 100%;
	height: 70%;
	position: relative;
	align-self: center;
	justify-content: space-between;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 20px;
}

.bottomButtons {
	width: 100%;
	height: 20%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#GameForm {
	height: 100%;
	width: 100%;
}

.formDiv {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
}

.player {
	height: 100%;
	width: 16%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.playerImg {
	height: 30%;
}

.playerName {
	font-size: 30px;
	text-align: center;
}

.popUpOverlay1 {
	height: 100vh;
	width: 100vw;
	
	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.7);
  	transition: opacity 500ms;
  	visibility: hidden;
  	opacity: 0;
}

.gamePopUp1 {
	background-color: #76d09e;
	border-radius: 5px;
	
  	padding: 20px;
  	height: 70%;
  	width: 50%;
  	
  	top: 15%;
  	bottom: 15%;
  	left: 25%;
  	right: 25%;
  	position: relative;
	transition: visibility 5s ease-in-out, opacity 5s ease-in-out;
  	
  	max-height: 700px;
  	
  	display: flex;
	flex-direction: column;
	overflow: auto;
	
	justify-content: center;
	align-items: center;
}

.popUpFormDiv {
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	overflow: auto;
	
	justify-content: center;
	align-items: center;
}

.addPlayerPopUp1 {
	background-color: #76d09e;
	border-radius: 5px;
	
	margin: 40vh auto;
  	padding: 40px;
  	width: 30%;
  	position: relative;
/*   	transition: all 5s ease-in-out; */
  	
  	max-height: 700px;
  	
  	display: flex;
	flex-direction: column;
	overflow: auto;
}


.popUpOverlay {
	position: fixed;
  	top: 0;
	border-radius: 5px;

	margin: 40vh auto;
  	padding: 40px;
  	width: 30%;
  	position: relative;
/*   	transition: all 5s ease-in-out; */
}
.userToAdd {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.addPlayerPopUp {
	background-color: #76d09e;
	border-radius: 5px;

	margin: 40vh auto;
  	padding: 20px;
  	width: 30%;
  	position: relative;
/*   	transition: all 5s ease-in-out; */

  	max-height: 700px;

  	display: flex;
	flex-direction: column;
	overflow: auto;
}

.gamePopUp {
	visibility: hidden;
	background-color: #7cb897bd;
	border-radius: 20px;
  	padding: 20px;
	height: 75vh;
  	width: 50vw;
  	align-items: center;
	color: #47525e;
  	margin: auto;
	display: inherit;
	position:absolute;
	top:17.5vh;
	left:25vw;
}

.popUpButton {
	height: 6vh;
	width: 13vw;
    background-color: #47525e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
	display: inline;
	margin-right: 1vw;
	margin-left: 1vw;
}
.popUpDangerButton {
    height: 6vh;
	width: 13vw;
    background-color: #c70008;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
	display: inline;
	margin-right: 1vw;
	margin-left: 1vw;
}
.propertyImg{
	padding-top: 3vh;
	padding-bottom: 3vh;
	align-self: center;
	display: flex;
	margin:auto;
	height: 55vh;
}

.propertyImg2{
	padding-top: 5vh;
	padding-bottom: 1vh;
	align-self: center;
	display: flex;
	margin:auto;
	height: 60vh;
}

.propertyTxt{
	padding:0px;
	/*display: inherit;*/
	margin: inherit;
	font-size: x-large;
	text-align: center;
	display: block;
}

.constructorImg{
	padding:10px;
	margin: inherit;
	display: inherit;
}

.popUpButtons {
	display:flex;
	justify-content: space-between;
	padding-left: 1vw;
	padding-right: 1vh;
	margin:auto;
}

.buildButtons{
	height: 35px;
	width: 35px;
	background-color: #47525e;
	color: white;
	border: none;
	border-radius: 100%;
    margin-top: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	display: table-cell;
	text-align: center;
}

.cancelButton{
	height: 35px;
	width: 35px;
	background-color: transparent;
	color: #47525e;
	border: none;
	cursor: pointer;
	display: table-cell;
	text-align: center;
	font-size: 20px;
}

tbody{
	display:inline-block;
	overflow-y:scroll;
}

td, th{
	display:flex;
	align-items:center;
	margin:auto;
	width: 11.75vw;
	height: 8vh;
}

tr{
	display:flex;
	flex-direction: row;
	width:47vw;
	height: 8vh;
	align-items:center;
	text-align: center;
}

.tableCell{
	display:inline;
	text-align: center;
	align-items: center;
	margin:auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tableCell2{
	display:inline;
	text-align: center;
	align-items: center;
	margin:auto;
	height:3vh;
	width: 7vh;
}


.table{
	display:flex;
	flex-direction: column;
	flex: auto;
	text-align: center;
	align-items:center;
	width: 55vw;
	height:65vh;
	
}

.popUpButton2 {
    height: 50px;
    width: 170px;
    background-color: #47525e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
	display: table-cell;
	margin-right: 2px;
	margin-left: 2px;
}

.popUpSampleButton{
	height: 60px;
    width: 170px;
    background-color: #47525e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
	display: table-cell;
	margin-top: 20%;
}

.gameListMainBody {
	height: auto;
	width: auto;
	overflow: auto;
	margin-left: 40px;
	margin-bottom: 20px;
}

.gameListItem {
	height: auto;
	width: 97%;
	margin-bottom: 10px;
	padding: 15px;
	
	border-width: 4px;
 	border-color: rgba(118, 208, 158, 0.5); /* Esto es lo de la opacidad */
	border-radius: 10px;
	border-style: solid;
	
	background-color: rgba(118, 208, 158, 0.7);
	
	position: relative;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
	
}

.gameInfoLine {
	font-size: 40px;
	margin-left: 5px;
	
}

.gameDurationAndPlayers {
	font-size: 30px;
	margin-left: 5px;
	
}

.namePlayers {
	font-size: 20px;
	margin-left: 5px;
	
}

.nameWinners {
	font-size: 20px;
	margin-left: 5px;
	font-weight: bold;
	
}

.pagDiv2 {
	height: auto; 
	width: 25%;
	align-items: center;
	margin-top: 10 px;
	
	position: relative;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 30% 30%;
	grid-auto-flow: column;
	
}

.color2BROWN {
	background-color: #804000;
	border-style: solid;
	border-color: #402000;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2BLUE {
	background-color: blue;
	border-style: solid;
	border-color: #0000d5;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2GREEN {
	background-color: green;
	border-style: solid;
	border-color: #005500;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2LIGHTBLUE {
	background-color: #00ffff;
	border-style: solid;
	border-color: #008080;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2ORANGE {
	background-color: orange;
	border-style: solid;
	border-color: #aa6f00;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2PINK {
	background-color: pink;
	border-style: solid;
	border-color: #ff6a85;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2RED {
	background-color: red;
	border-style: solid;
	border-color: #800000;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.color2YELLOW {
	background-color: yellow;
	border-style: solid;
	border-color: #808000;
	border-width: 5px;
	margin: auto;
	height:3vh;
	width: 10vh;
}

.JailImg{
	padding: 10px;
	display: inherit;
	margin: inherit;
	scale: 50%;
}

